{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="" />
{% endblock %} 

{% block content %}
<section>
  <div>
    <h1>{{ restaurant.name }}</h1>
    <p>Location: {{ restaurant.location }}</p>
    <p>Phone: {{ restaurant.phone }}</p>
    <p>Category: {{ restaurant.category }}</p>
    <p>Image URL: {{ restaurant.image_url }}</p>
  </div>

  <form action="{% url 'save-restaurant' restaurant_id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Save to My List</button>
  </form>
  
  <h2>Reviews</h2>
  {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>
          <strong>{{ review.user.username }}:</strong>
          <p>Rating: {{ review.stars }} stars</p>
          <p>{{ review.comment }}</p>
          {% if user == review.user %}
            {% comment %} <a href="{% url 'review_update' restaurant.id review.id %}">Edit</a>
            <a href="{% url 'review_delete' restaurant.id review.id %}">Delete</a> {% endcomment %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet. Be the first to review this restaurant!</p>
  {% endif %}

  {% if user.is_authenticated %}
    <h3>Add a Review</h3>
    <form action="{% url 'add-review' restaurant_id %}" method="POST">
      {% csrf_token %}
      {{ review_form.as_p }}
      <button type="submit" class="btn submit">Submit Review</button>
    </form>
  {% else %}
    <p><a href="{% url 'login' %}">Log in</a> to add a review.</p>
  {% endif %}
</section>

{% endblock %}