{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurants/favorites_list.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1>My Favorite Restaurants</h1>
    
    {% if favorites %}
        <div class="card-container">
            {% for favorite in favorites %}
                <div class="card">
                    <img src="{{ favorite.image_url }}" alt="{{ favorite.name }} thumbnail" class="thumbnail">
                    <div class="card-content">
                        <div>
                            <h2>{{ favorite.name }}</h2>
                            <p></p>
                            <p>{{ favorite.location }}</p>
                        </div>
                        <a href="{% url 'restaurant-detail' favorite.yelp_id %}">View Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center">You have no favorite restaurants yet.</p>
    {% endif %}
</section>
{% endblock %}

