{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurants/favorites_list.css' %}">
{% endblock %}

{% block content %}
<section class="favorites-list">
  <h1>Your Favorite Restaurants</h1>

  {% if favorites %}
    <div class="card-container">
      {% for restaurant in favorites %}
        <div class="card">
        <img src="{{ restaurant.image_url }}" alt="{{ restaurant.name }} thumbnail" class="thumbnail">
          <div class="card-content">
            <h2>{{ restaurant.name }}</h2>
            <p>Location: {{ restaurant.location }}</p>
            <!-- <p>Category: {{ restaurant.category }}</p> -->
            <a href="{% url 'restaurant-detail' restaurant.yelp_id %}">View Details</a>
            <!-- Unfavorite Link -->
            <a href="{% url 'unfavorite_restaurant' restaurant.yelp_id %}" class="unfavorite-button">Unfavorite</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You have no favorite restaurants yet.</p>
  {% endif %}
</section>
{% endblock %}

