{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <h1>My Favorite Restaurants</h1>

  {% if favorite_restaurants %}
    <ul>
      {% for restaurant in favorite_restaurants %}
        <li>
          <div>
            <h2>{{ restaurant.name }}</h2>
            <p>Location: {{ restaurant.location.address1 }}, {{ restaurant.location.city }}</p>
            <p>Phone: {{ restaurant.display_phone }}</p>
            <p>Rating: {{ restaurant.rating }}</p>
            <a href="/restaurants/{{ restaurant.id }}">View Details</a>
            <form method="POST" action="{% url 'remove-from-favorites' restaurant.id %}">
              {% csrf_token %}
              <button type="submit">Remove from Favorites</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no favorite restaurants yet.</p>
  {% endif %}
</section>
{% endblock %}
