{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurants/restaurant-index.css' %}" />
{% endblock %}
{% block content %}

<section>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter a city.." name="location">
            <label for="category" placeholder="Enter a category.."></label>
                <select name="category" id="category">
                    <option value="">--Please choose an category--</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="cafes">Cafes</option>
                    <option value="dessert">Dessert</option>
                    <option value="bars">Bars</option>
                    <option value="grocery">Grocery</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="diners">Diners</option>
                    <option value="fastfood">Fast Food</option>
                </select>
            <button>?</button>
          </form>
    </div>

    <h1>Restaurants</h1>
    {% for restaurant in restaurants %}
    <div class="card">
        <div class="card-content">
              <a href="/restaurants/{{restaurant.id}}">
                  <h2 class="card-title">{{ restaurant.name }}</h2>
                  {% for element in restaurant.categories %}
                  <p><small>{{ element.title }}</small></p>
                  {% endfor %}
              </a>
              <p><a href="{% url 'add-to-favorites' restaurant.id %}">Add to Favorites</a></p>
              <img class="thumbnail" src={{ restaurant.image_url }} alt="">
        </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
