{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/restaurants/restaurant-index.css' %}" />
{% block head %}
{% endblock %}
{% block content %}

<section>
    <h1>Restaurants</h1>
    {% for restaurant in restaurants %}
    <div class="card">
      <div class="card-content">
        <div class="card">
            <a href="/restaurants/{{restaurant.id}}">
                <h2 class="card-title">{{ restaurant.name }}</h2>
                {% comment %} <p><small>{{ restaurant.categories }}</small></p> {% endcomment %}
                {% for element in restaurant.categories %}
                <p>{{ element.title }}</p>
                {% endfor %}
            </a>
            <a href="{% url 'add-to-favorites' restaurant.id %}">
              Add to Favorites
            </a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
