{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}

<section>
  <div>Restaurant Index</div>
  {% for restaurant in restaurants %}
    <div class="card">
      <div class="card-content">
        <div class="card">
            <a href="/restaurants/{{restaurant.id}}">
                <h2 class="card-title">{{ restaurant.name }}</h2>
                {% comment %} <p><small>{{ restaurant.categories }}</small></p> {% endcomment %}
                {% for element in restaurant.categories %}
                <p>{{ element.title }}</p>
                {% endfor %}
            </a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
