/* Container for all cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual card styling */
.card {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 10px;
  border: var(--borders, 2px solid #ccc);
  background-color: brown;
  box-shadow: 5px 5px 5px black;
}

/* Content inside the card */
.card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

/* Links in the card */
.card > a {
  text-decoration: none;
  color: var(--text-color, white);
}

/* Card header */
.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl, 1.5em);
}

/* Paragraph styling */
.card p {
  margin: 5px 0;
  font-size: var(--font-reg, 1em);
}

/* Thumbnail image styling */
.thumbnail {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

/* Header styling */
h1 {
  text-align: center;
  color: white;
}

/* Underlined text for favorites */
.favorites {
  text-decoration: underline;
  color: white;
}

/* Centered content */
.center {
  padding: 10px;
  text-align: center;
  color: white;
}

/* Button styling */
button {
  font-family: "Playpen Sans", cursive;
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 7px;
  background-color: transparent; 
  color: black; 
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
  background-color: darkorange;
}

.details-button {
  background-color: transparent; 
  color: black; 
  padding: 5px;
  border-radius: 7px;
  font-size: 15px;
  text-decoration: underline; 
  border: none;
}

.details-button:hover {
  color: darkorange; 
}

.delete-button {
  background-color: transparent; 
  color: black; 
  padding: 5px;
  border-radius: 7px;
  font-size: 15px;
  text-decoration: underline; 
  border: none;
}

.delete-button:hover {
  color: darkred; 
}

.craving-categories {
  text-align: center;
  margin: 20px 0;
}

.craving-categories p {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.craving-categories ul {
  list-style-type: disc;
  padding-right: 25px; 
  display: inline-block;
}

.craving-categories ul li {
  font-size: 16px;
  color: white;
}