.card {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  background-color: red;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.card>a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.thumbnail {
  height: 150px;
  width: 150px;
  object-fit: cover;
}