{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
  <div class="about-container">
    <h1>About Food4Thought</h1>
    <ul class="about-details">
      <li>Food4Thought helps you find the best places to eat in your city.</li>
      <li>Search by location and category to discover your new favorite restaurants.</li>
      <li>Save your favorite restaurants and easily access them anytime.</li>
      <li>Leave reviews to share your experiences with others.</li>
    </ul>

    <div class="search-link">
      <a href="{% url 'restaurant-index' %}">What's on your Mind?</a>
    </div>
  </div>
{% endblock %}