{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <head>
        <title>
        {% block title %} 
        Food4Thought
        {% endblock %}
        </title>
    </head>
    <body>
        <header>
          <nav>
              {% if user.is_authenticated %}
              <ul class="left">
                <li><a href="{% url 'restaurant-index' %}">All Restaurants</a></li>
                <li><a href="{% url 'favorites-list' %}">Favorite Restaurants</a></li>
              </ul>
              <ul class="right">
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="logout">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit">Log out</button>
                    </form>
                </li>
            </ul>
              {% else %}
            <ul class="left">
                <li><a href="{% url 'restaurant-index' %}">All Restaurants</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="right">
                <li><a href="{% url 'home' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
              {% endif %}
            </ul>
          </nav>
        </header>
        <main>
         {% block content %} 
         {% endblock %}
         </main>
      </body>
</html>
