{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <head>
        <title>
        {% block title %} 
        {% endblock %}
        </title>
    </head>
    <body>
        <header>
          <div>
            <a href="/">
              <img src=""/>
            </a>
          </div>
          <nav>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/restaurants">All Restaurants</a></li>
            </ul>
          </nav>
        </header>
        <main>
         {% block content %} 
         {% endblock %}
         </main>
      </body>
</html>
