@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

html {
    font-family: "Playpen Sans", cursive;
}

body {
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 1px 1px 1px 1px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

nav ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 5px 15px 5px 15px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    text-decoration: underline;
    box-shadow: 5px 5px 5px black;
    background-color: coral;
}

button {
    font-family: "Playpen Sans", cursive;
    font-size: 15px;
    border: none;
    text-decoration: underline;
    background-color: coral;
}

ul.right {
    justify-content: end;
    text-align: center;
}

ul.left {
    justify-content: start;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    nav {
      font-size: 10px;
    }

    /* nav li {
        padding: 5px 10px 5px 10px;
        margin: 0 10px 0 10px;
    } */

    button {
        font-size: 10px;
    }
  }